body {
    background-color: black;
    color: yellow;
    text-align: center;
    font-family: Arial, sans-serif;
}

canvas {
    background-color: black;
    border: 4px solid blue;
    margin-top: 10px;
}
