body {
    background-color: #111;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

canvas {
    background-color: black;
    border: 2px solid white;
    margin-top: 10px;
}
